@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Roboto:wght@300&display=swap');

:root {
    --first-color: #33869f;
    --second-color: #FFFFFF;

    --first-font: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    background-color: var(--first-color);
}